<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link rel="stylesheet" href="/stylesheets/ProductDetail.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css" />
</head>

<body>

    <%- include('partials/error') %>


    <%- include('partials/header') %>

        <div class="product-container">
            <div class="product-wrapper">
                <!-- Left Side -->
                <div class="product-image">
                    <img src="/uploads/<%= selectedProduct.mainImage %>" alt="White Sector Watch">
                </div>

                <!-- Right Side -->
                <div class="product-details">
                    <div class="product-details-wrapper">
                        <h1>
                            <%= selectedProduct.name %>
                        </h1>
                        <span class="case-size">
                            <%= selectedProduct.case.caseSize %>
                        </span>
                        <p>
                            <%= selectedProduct.nameDesc %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="price-wrapper">
                <div class="price">
                    <p>USD <%= selectedProduct.price %>
                    </p>
                </div>
                <a href="/addtoCart/<%= selectedProduct._id %>" class="add-cart">ADD TO CART</a>
            </div>
        </div>


        <div id="productGallery">
            <div class="productGallery-head">
                <h2 style="opacity: 0;">hello</h2>
                <div class="head-wrap">
                    <span>GALLERY</span>
                    <p class="prd-ctgry">
                        <%= selectedProduct.category %>
                    </p>
                </div>
                <div class="slider-btn">
                    <div class="slide-i prev-btn-3">
                        <i class="ri-arrow-left-s-fill i-top"></i>
                        <i class="ri-arrow-left-s-fill i-bottom"></i>
                    </div>
                    <div class="slide-i next-btn-3">
                        <i class="ri-arrow-right-s-fill i-top"></i>
                        <i class="ri-arrow-right-s-fill i-bottom"></i>
                    </div>
                </div>
            </div>
            <div class="swiper mySwiper3">
                <div class="swiper-wrapper">
                    <% if (selectedProduct.Gallery && selectedProduct.Gallery.length> 0) { %>
                        <% selectedProduct.Gallery.forEach(function(img){ %>
                            <div class="swiper-slide">
                                <img src="/uploads/<%= img %>" class="watch-image" alt="watch">
                                <i class="ri-add-line see-picture"></i>
                            </div>
                            <% }) %>
                                <% } %>

                </div>
            </div>
        </div>



        <section id="specification">
            <p class="title">SPECIFICATIONS</p>
            <div class="spec-wrapper">
                <!-- Left Column -->
                <div class="spec-text">
                    <div class="spec-col">
                        <p>CASE<br><span>
                                <%= selectedProduct.case.caseSize %>
                            </span></p>
                        <p>Material<br><span>
                                <%= selectedProduct.case.material %>
                            </span></p>
                        <p>Dimensions<br><span>
                                <%= selectedProduct.case.dimensions1 %>
                            </span><br><span>
                                <%= selectedProduct.case.dimensions2 %>
                            </span></p>
                        <p>Finishes<br><span>
                                <%= selectedProduct.case.finishers %>
                            </span> </p>
                        <p>Water resistance<br><span>
                                <%= selectedProduct.case.waterResistance %>
                            </span></p>

                        <% if(selectedProduct.case.glass.length> 0){ %>
                            <p>Glass<br><span>
                                    <%= selectedProduct.case.glass %>
                                </span></p>
                            <% } %>
                    </div>

                    <div class="spec-col">
                        <p>STRAPS<br><span>
                                <%= selectedProduct.straps.strapName %>
                            </span></p>
                        <p>Strap 1<br><span>
                                <%= selectedProduct.straps.strap1 %>
                            </span></p>
                        <p>Strap 2<br><span>
                                <%= selectedProduct.straps.strap2 %>
                            </span></p>
                        <p>Quick release system<br><span>
                                <%= selectedProduct.straps.quickReleaseSystem %>
                            </span></p>
                        <p>Size<br><span>
                                <%= selectedProduct.straps.size %>
                            </span></p>
                        <p>Buckle<br><span>
                                <%= selectedProduct.straps.buckles %>
                            </span></p>
                    </div>
                </div>

                <!-- Right Column -->
                <div class="spec-image">
                    <img src="/uploads/<%= selectedProduct.mainImage %>" alt="Watch">
                </div>
            </div>
        </section>


        <% if (selectedProduct.watchVideos.length> 0) { %>
            <div class="video-container" id="video-container">
                <video id="product-video" preload="metadata" autoplay muted playsinline loop>
                    <source src="/uploads/<%= selectedProduct.watchVideos %>" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <% } else if (selectedProduct.category==="DISCO VOLANTE" ) {%>
                <div class="video-container" id="video-container">
                    <video id="product-video" preload="metadata" autoplay muted playsinline loop>
                        <source src="/uploads/desco-verde-veadio.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
        <% } %>



        <div id="productDesign">
                            <div class="productDesign-head">
                                <h2 style="opacity: 0;">hello</h2>
                                <div class="head-wrap">
                                    <span>NO MATTER WHAT</span>
                                    <p class="prd-ctgry">
                                        DESIGN FOR DETAILS
                                    </p>
                                </div>
                                <div class="slider-btn">
                                    <div class="slide-i prev-btn-4">
                                        <i class="ri-arrow-left-s-fill i-top"></i>
                                        <i class="ri-arrow-left-s-fill i-bottom"></i>
                                    </div>
                                    <div class="slide-i next-btn-4">
                                        <i class="ri-arrow-right-s-fill i-top"></i>
                                        <i class="ri-arrow-right-s-fill i-bottom"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper mySwiper4">
                                <div class="swiper-wrapper">
                                    <% if (selectedProduct.designedForDetails && selectedProduct.designedForDetails.length>
                                        0) { %>
                                        <% selectedProduct.designedForDetails.forEach(function(detail){ %>
                                            <div class="swiper-slide">
                                                <img src="/uploads/<%= detail.designImage %>" class="watch-image"
                                                    alt="watch">
                                                <div class="design-info">
                                                    <span class="designName">
                                                        <%= detail.designName %>
                                                    </span>
                                                    <p class="designValue">
                                                        <%= detail.designValue %>
                                                    </p>
                                                    <p class="design-desc" style="display: none;">
                                                        <%= detail.designDesc %>
                                                    </p>
                                                    <i class="ri-add-line see-detail"><span>LEARN MORE</span></i>
                                                </div>
                                            </div>
                                            <% }) %>
                                                <% } %>

                                </div>
                            </div>
        </div>


        <div id="packaging">
            <div class="packaging-section">
                <div class="packaging-image">
                    <img src="/assests/packaging.jfif" alt="Packaging">
                </div>
                <div class="packaging-text">
                    <span class="head-1">PACKAGING</span>
                    <span class="head-2">A PACKAGING FULL OF STORIES</span>
                    <div class="pkg-p-wrapper">
                         <p>
                            Inspired by the travel cases from the 40's, simply sophisticated and refined, our packaging is crafted with
                            attention to details to guarantee great robustness. It includes warranty and certificates papers, a micro-fiber
                            cloth and a secondary strap. Everything has been designed to follow you through your adventures and protect your
                            watch. Our story inspired us in the making. Now it's time to write your own.
                        </p>
                    </div>
                </div>
            </div>
        </div>



        <div id="you-may-like">
            <p class="you-may-like-title">YOU MAY ALSO LIKE</p>
            <div class="you-may-like-wrapper">
                <% randomTwoProducts.forEach(function(randomTwoProduct){ %>
                    <div class="item">
                        <a href="/products/productDetail/<%= randomTwoProduct._id %>">
                            <div class="image">
                                <img src="/uploads/<%= randomTwoProduct.mainImage %>" alt="" class="main-item-image">
                                <img src="/uploads/<%= randomTwoProduct.zoomImage %>" alt="" class="zoom-item-image">
                            </div>
                        </a>
                        <div class="itme-con">
                            <span class="item-name"><%= randomTwoProduct.name %></span>
                            <span class="item-price">USD <%= randomTwoProduct.price %></span>
                            <a href="/products/productDetail/<%= randomTwoProduct._id %>">
                                DISCOVER <i class="ri-arrow-right-s-fill"></i>
                            </a>
                        </div>
                    </div>
               <% }) %>
            </div>
        </div>


        <!-- Popup Overlay -->
        <div id="imagePopup" class="image-popup">
            <span class="close-popup"><i class="ri-arrow-go-back-fill"></i></span>
            <img id="popupImg" src="" alt="Expanded Image">
        </div>

    <%- include('partials/footer') %>



    <!-- Sidebar -->
    <div id="designSidebar" class="sidebar">
        <button class="design-side-bar-close-btn"><i class="ri-arrow-go-back-fill"></i></button>
        <div class="sidebar-content">
            <img id="sidebarImage" src="" alt="Design Image">
            <p id="sidebarName"></p>
            <p id="sidebarValue"></p>
            <p id="sidebarDesc"></p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="/javascripts/nav.js"></script>
    <script src="/javascripts/productDetail.js"></script>
</body>

</html>